[{mongodb_pool,
  [
   {global_or_local, local},
   {pools, [{test_pool, [
                         {size, 10},
                         {max_overflow, 30}
                        ],[
                           {database, <<"mongodb_pool_test">>},
                           {w_mode, safe}
                          ]}
           ]}

  ]
  }].
